@mixin birthday-status-colors {
  &.today {
    background-color: #ffebee;
    color: #d32f2f;
    font-weight: 600;
  }
  
  &.tomorrow {
    background-color: #fff3e0;
    color: #f57c00;
    font-weight: 600;
  }
  
  &.soon {
    background-color: #e8f5e8;
    color: #388e3c;
  }
  
  &.later {
    background-color: #f5f5f5;
    color: #666;
  }
}

@mixin small-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

@mixin card-shadow {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-icon {
  @include small-icon;
}

.birthday-status {
  @include birthday-status-colors;
}